/*  this is for the card  */

.App {
  font-family: sans-serif;
  text-align: center;
}
.Card {
  font-size: 24px;
  line-height: 72px;
  width: 216px;
  border: 1px solid black;
  margin: 18px;
  background-color: darkolivegreen;
  cursor: pointer;
  user-select: none;
}
button{
  font-size: 24px;
  line-height: 72px;
  width: 216px;
  border: 1px solid orange;
  margin: 18px;
  background-color: grey;
  cursor: pointer;
  user-select: none;

}


/*  this is for the button */


